/********************
YOUR STYLES
*******************/
h1 {
    text-align: center
}

/* Header */
header {
  display: flex;
  justify-content: center;
}



/* Main Container */


/* Gallery Styling */
figure img {
    width: 100px;
    
}

.Title_1 {
    text-align: center;
    width: 310px;
    
}

.Title_2 {
    text-align: center;
    width: 310px;
    
}

.Title_3 {
    text-align: center;
    width: 310px;
    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}

figure {
    background: white;
    padding: 20px;
    width: 310px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 
}

figcaption {
    text-align: center;
}

.lg-backdrop {
    background: white;
}

.lg-image {
    box-shadow: 0 0 30px white;
}

.all { 
    background: gray;
}

/* Captions */

.caption {
    display: none;
}


/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
  body {
       background: white;
  }
    

   

    .gallery {
        justify-content: center;
    
    }
  .Title_1 {
        background: #000;
        justify-content: center;
        color: white;
    }
  .Title_2 {
        background: #000;
        justify-content: center;
        color: white;
    }
  .Title_3 {
        background: #000;
        justify-content: center;
        color: white;
    }
    
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
  body {
       background: white;
  }
    
    
   .gallery {
        justify-content: center;
       
    }
    
    .Title_1 {
        background: #000;
        justify-content: center;
        color: white;
    }

    .Title_2 {
        background: #000;
        justify-content: center;
        color: white;
    }
    
    .Title_3 {
        background: #000;
        justify-content: center;
        color: white;
    } 
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  body {
       background: white;
  }
    
    

   .gallery {
        justify-content: center;
       
    }
    .Title_1 {
        background: #000;
        justify-content: center;
        color: white;
    }

    .Title_2 {
        background: #000;
        justify-content: center;
        color: white;
    }
    
    .Title_3 {
        background: #000;
        justify-content: center;
        color: white;
    } 

}